#!/bin/sh

##################################################
# {{ ansible_managed }}
##################################################

# Variables
export CONTAINER_IMAGE="ghcr.io/jacobwoffenden/doh-proxy:latest"
export CONTAINER_NAME="cloudflare-teams-tunnel"

export CLOUDFLARE_TUNNEL_TOKEN="{{ cloudflare_tunnel_token }}"

# Script
echo "Pulling [ ${CONTAINER_IMAGE} ]"
podman pull ${CONTAINER_IMAGE}

echo "Stopping [ ${CONTAINER_NAME} ]"
podman stop ${CONTAINER_NAME} 2>/dev/null 

echo "Removing [ ${CONTAINER_NAME} ]"
podman rm ${CONTAINER_NAME} 2>/dev/null 

echo "Starting [ ${CONTAINER_NAME} ]"
podman run \
  --name ${CONTAINER_NAME} \
  --detach \
  --restart always \
  --net host \
  --env TUNNEL_TOKEN="${CLOUDFLARE_TUNNEL_TOKEN}" \
  --env TUNNEL_METRICS="0.0.0.0:19090" \
  --entrypoint /usr/local/bin/cloudflared \
  ${CONTAINER_IMAGE} \
    tunnel --no-autoupdate run
